<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jee.boot.datasource.first.dao.UmsIntegrationConsumeSettingMapper">
  <resultMap id="BaseResultMap" type="com.jee.boot.datasource.first.entity.UmsIntegrationConsumeSetting">
    <!--@mbg.generated-->
    <!--@Table ums_integration_consume_setting-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deduction_per_amount" jdbcType="INTEGER" property="deductionPerAmount" />
    <result column="max_percent_per_order" jdbcType="INTEGER" property="maxPercentPerOrder" />
    <result column="use_unit" jdbcType="INTEGER" property="useUnit" />
    <result column="coupon_status" jdbcType="INTEGER" property="couponStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, deduction_per_amount, max_percent_per_order, use_unit, coupon_status
  </sql>
</mapper>