<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jee.boot.datasource.first.dao.UmsMemberMapper">
  <resultMap id="BaseResultMap" type="com.jee.boot.datasource.first.entity.UmsMember">
    <!--@mbg.generated-->
    <!--@Table ums_member-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_level_id" jdbcType="BIGINT" property="memberLevelId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="personalized_signature" jdbcType="VARCHAR" property="personalizedSignature" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="growth" jdbcType="INTEGER" property="growth" />
    <result column="luckey_count" jdbcType="INTEGER" property="luckeyCount" />
    <result column="history_integration" jdbcType="INTEGER" property="historyIntegration" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_level_id, username, `password`, nickname, phone, `status`, create_time, 
    icon, gender, birthday, city, job, personalized_signature, source_type, integration, 
    growth, luckey_count, history_integration
  </sql>
</mapper>